# =========================
# Maven / Java
# =========================
target/
*.class

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Postman
# =========================
.postman/
postman/

# =========================
# Logs
# =========================
logs/